<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!--    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">-->
    <title>Forum Page</title>
</head>

<body>

<button onclick="location.href = '/';" class="btn btn-primary float-right">Home</button>
<div class="jumbotron">
    <div class="card bg-light" id="formMsg">
        <form class="p-4" action="/forum_post" method="POST">
            <h3> Post Message
                <i class="fas fa-pencil-alt prefix"></i>
            </h3>
            <div class="md-form">
                <label for="message-body">Forum Post</label>

<!--                <input type="text" class="form-control form-control-sm mb-3" id="username-message-body"-->
<!--                       placeholder="Username" name="username">-->

                <input type="text" class="form-control form-control-sm mb-3" id="message-body"
                       placeholder="Subject!" name="message_title" required>
            </div>
            <div class="md-form">
                <textarea id="form10" name="message_body" class="md-textarea form-control" rows="3" placeholder="Your message goes here!" required></textarea>
            </div><br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        <div>{{output}}</div>
    </div>
</div>

{{#each message}}
<!--    this is very important, the #each variable allows you to loop over the functions over-->
    <div class="jumbotron">
        <div>Username: {{this.username}}</div>
        <div>Subject: {{this.subject}}</div>
        <div>Message: {{this.message}}</div>
        <div>TimeStamp: {{this.created}}</div>
    </div>
{{/each}}


<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>